openapi: 3.0.1
info:
  title: ViaCEP
  description: Consulte CEPs de todo o Brasil.
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://viacep.com.br/
tags:
  - name: Address
    description: Getting zip-code informations
    externalDocs:
      description: Find out more
      url: http://swagger.io
  - name: Health
    description: Service health check
paths:
  /ws/{zip-code}/json:
    get:
      tags:
        - Address
      summary: Find Address by zip-code
      description: Returns a single Address
      operationId: getAddressByZipCode
      parameters:
        - name: zip-code
          in: path
          description: zip-code to search
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Address"
        "400":
          description: Invalid zip-code supplied
        "404":
          description: Address not found
  /health-check:
    get:
      tags:
        - Health
      summary: Check service health
      description: Returns the health status of the service
      operationId: getHealthCheck
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
        "500":
          description: Service is unavailable
components:
  schemas:
    Address:
      type: object
      properties:
        cep:
          type: string
        logradouro:
          type: string
        complemento:
          type: string
        bairro:
          type: string
        localidade:
          type: string
        uf:
          type: string
        ibge:
          type: string
        gia:
          type: string
        ddd:
          type: string
        siafi:
          type: string
