<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/assets/aws.svg" alt="Icon" width="45"  class="mr-3"/>
    <a class="navbar-brand" href="/">Made with <b>AWS ECS Template</b> </a>
</nav>