<meta charset="UTF-8">
<title>AWS ECS Project</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
<link href="/assets/veecode.svg" rel="icon" type="icone/svg">
<style>
  body { padding-top:50px; }
</style>