<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>
       Health Check App
    </h1>
    <p class="mt-4 mb-4">
        Check the health of your expressJS test application now.
    </p>
    <a class="btn btn-primary" href="/health-check" role="button">view app health</a>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>